@import "navs.css";
@tailwind base;
@tailwind components;
@tailwind utilities;



.btnPadrao{
    display: flex;
    background-color: bisque;
    padding: 10;
    border-radius: 10;
    width: 80;
    text-align: center;
}